## Week 4, Lab 1: Predicting Left-Handedness from Psychological Factors
> Author: Matt Brems

We can sketch out the data science process as follows:
1. Define the problem.
2. Obtain the data.
3. Explore the data.
4. Model the data.
5. Evaluate the model.
6. Answer the problem.

We'll walk through a full data science problem in this lab.

---
## Step 1: Define The Problem.

You're currently a data scientist working at a university. A professor of psychology is attempting to study the relationship between personalities and left-handedness. They have tasked you with gathering evidence so that they may publish.

Specifically, the professor says "I need to prove that left-handedness is caused by some personality trait. Go find that personality trait and the data to back it up."

As a data scientist, you know that any real data science problem must be **specific** and **conclusively answerable**. For example:
- Bad data science problem: "What is the link between obesity and blood pressure?"
    - This is vague and is not conclusively answerable. That is, two people might look at the conclusion and one may say "Sure, the problem has been answered!" and the other may say "The problem has not yet been answered."
- Good data science problem: "Does an association exist between obesity and blood pressure?"
    - This is more specific and is conclusively answerable. The problem specifically is asking for a "Yes" or "No" answer. Based on that, two independent people should both be able to say either "Yes, the problem has been answered" or "No, the problem has not yet been answered."
- Excellent data science problem: "As obesity increases, how does blood pressure change?"
    - This is very specific and is conclusively answerable. The problem specifically seeks to understand the effect of one variable on the other.

### 1. In the context of the left-handedness and personality example, what are three specific and conclusively answerable problems that you could answer using data science? 

> You might find it helpful to check out the codebook in the repo for some inspiration.

Answer:
1. Do people who are left handed, more emotional? 
2. Do people who are left handed, play more video games?
3. Do people who are left handed, more likely to be an animal lover?

---
## Step 2: Obtain the data.

### 2. Read in the file titled "data.csv."
> Hint: Despite being saved as a .csv file, you won't be able to simply `pd.read_csv()` this data!

In [53]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression, LogisticRegression

In [54]:
df = pd.read_csv('./data.csv', sep='\t')

In [55]:
df.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,country,fromgoogle,engnat,age,education,gender,orientation,race,religion,hand
0,4,1,5,1,5,1,5,1,4,1,...,US,2,1,22,3,1,1,3,2,3
1,1,5,1,4,2,5,5,4,1,5,...,CA,2,1,14,1,2,2,6,1,1
2,1,2,1,1,5,4,3,2,1,4,...,NL,2,2,30,4,1,1,1,1,2
3,1,4,1,5,1,4,5,4,3,5,...,US,2,1,18,2,2,5,3,2,2
4,5,1,5,1,5,1,5,1,3,1,...,US,2,1,22,3,1,1,3,2,3

### 3. Suppose that, instead of us giving you this data in a file, you were actually conducting a survey to gather this data yourself. From an ethics/privacy point of view, what are three things you might consider when attempting to gather this data?
> When working with sensitive data like sexual orientation or gender identity, we need to consider how this data could be used if it fell into the wrong hands!

Answer:
1. Allow respondents to participate anonymously
2. Allow respondents to participate separately so that they do not get influenced/stressed with surveyors/other respondents are around
3. Ensure that all respondents are given the same time and environment to respond to the survey

---
## Step 3: Explore the data.

### 4. Conduct exploratory data analysis on this dataset.
> If you haven't already, be sure to check out the codebook in the repo, as that will help in your EDA process.

In [56]:
df.columns

Index(['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9', 'Q10', 'Q11',
       'Q12', 'Q13', 'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21',
       'Q22', 'Q23', 'Q24', 'Q25', 'Q26', 'Q27', 'Q28', 'Q29', 'Q30', 'Q31',
       'Q32', 'Q33', 'Q34', 'Q35', 'Q36', 'Q37', 'Q38', 'Q39', 'Q40', 'Q41',
       'Q42', 'Q43', 'Q44', 'introelapse', 'testelapse', 'country',
       'fromgoogle', 'engnat', 'age', 'education', 'gender', 'orientation',
       'race', 'religion', 'hand'],
      dtype='object')

In [57]:
df.dtypes

Q1              int64
Q2              int64
Q3              int64
Q4              int64
Q5              int64
Q6              int64
Q7              int64
Q8              int64
Q9              int64
Q10             int64
Q11             int64
Q12             int64
Q13             int64
Q14             int64
Q15             int64
Q16             int64
Q17             int64
Q18             int64
Q19             int64
Q20             int64
Q21             int64
Q22             int64
Q23             int64
Q24             int64
Q25             int64
Q26             int64
Q27             int64
Q28             int64
Q29             int64
Q30             int64
Q31             int64
Q32             int64
Q33             int64
Q34             int64
Q35             int64
Q36             int64
Q37             int64
Q38             int64
Q39             int64
Q40             int64
Q41             int64
Q42             int64
Q43             int64
Q44             int64
introelapse     int64
testelapse      int64
country        object
fromgoogle      int64
engnat          int64
age             int64
education       int64
gender          int64
orientation     int64
race            int64
religion        int64
hand            int64
dtype: object

In [58]:
df.isnull().sum().head()

Q1    0
Q2    0
Q3    0
Q4    0
Q5    0
dtype: int64

In [59]:
df.shape

(4184, 56)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4184 entries, 0 to 4183
Data columns (total 56 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Q1           4184 non-null   int64
 1   Q2           4184 non-null   int64
 2   Q3           4184 non-null   int64
 3   Q4           4184 non-null   int64
 4   Q5           4184 non-null   int64
 5   Q6           4184 non-null   int64
 6   Q7           4184 non-null   int64
 7   Q8           4184 non-null   int64
 8   Q9           4184 non-null   int64
 9   Q10          4184 non-null   int64
 10  Q11          4184 non-null   int64
 11  Q12          4184 non-null   int64
 12  Q13          4184 non-null   int64
 13  Q14          4184 non-null   int64
 14  Q15          4184 non-null   int64
 15  Q16          4184 non-null   int64
 16  Q17          4184 non-null   int64
 17  Q18          4184 non-null   int64
 18  Q19          4184 non-null   int64
 19  Q20          4184 non-null   int64
 20  Q21          4184 non-null   int64
 21  Q22          4184 non-null   int64
 22  Q23          4184 non-null   int64
 23  Q24          4184 non-null   int64
 24  Q25          4184 non-null   int64
 25  Q26          4184 non-null   int64
 26  Q27          4184 non-null   int64
 27  Q28          4184 non-null   int64
 28  Q29          4184 non-null   int64
 29  Q30          4184 non-null   int64
 30  Q31          4184 non-null   int64
 31  Q32          4184 non-null   int64
 32  Q33          4184 non-null   int64
 33  Q34          4184 non-null   int64
 34  Q35          4184 non-null   int64
 35  Q36          4184 non-null   int64
 36  Q37          4184 non-null   int64
 37  Q38          4184 non-null   int64
 38  Q39          4184 non-null   int64
 39  Q40          4184 non-null   int64
 40  Q41          4184 non-null   int64
 41  Q42          4184 non-null   int64
 42  Q43          4184 non-null   int64
 43  Q44          4184 non-null   int64
 44  introelapse  4184 non-null   int64
 45  testelapse   4184 non-null   int64
 46  country      4184 non-null   object
 47  fromgoogle   4184 non-null   int64
 48  engnat       4184 non-null   int64
 49  age          4184 non-null   int64
 50  education    4184 non-null   int64
 51  gender       4184 non-null   int64
 52  orientation  4184 non-null   int64
 53  race         4184 non-null   int64
 54  religion     4184 non-null   int64
 55  hand         4184 non-null   int64
dtypes: int64(55), object(1)
memory usage: 1.8+ MB

In [61]:
df.describe()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,testelapse,fromgoogle,engnat,age,education,gender,orientation,race,religion,hand
count,4184.000000,4184.000000,4184.000000,4184.000000,4184.000000,4184.000000,4184.000000,4184.000000,4184.000000,4184.000000,...,4184.000000,4184.000000,4184.000000,4184.000000,4184.000000,4184.000000,4184.000000,4184.000000,4184.000000,4184.000000
mean,1.962715,3.829589,2.846558,3.186902,2.865440,3.672084,3.216539,3.184512,2.761233,3.522945,...,479.994503,1.576243,1.239962,30.370698,2.317878,1.654398,1.833413,5.013623,2.394359,1.190966
std,1.360291,1.551683,1.664804,1.476879,1.545798,1.342238,1.490733,1.387382,1.511805,1.242890,...,3142.178542,0.494212,0.440882,367.201726,0.874264,0.640915,1.303454,1.970996,2.184164,0.495357
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.000000,1.000000,0.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,3.000000,1.000000,2.000000,1.000000,3.000000,2.000000,2.000000,1.000000,3.000000,...,186.000000,1.000000,1.000000,18.000000,2.000000,1.000000,1.000000,5.000000,1.000000,1.000000
50%,1.000000,5.000000,3.000000,3.000000,3.000000,4.000000,3.000000,3.000000,3.000000,4.000000,...,242.000000,2.000000,1.000000,21.000000,2.000000,2.000000,1.000000,6.000000,2.000000,1.000000
75%,3.000000,5.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,4.000000,5.000000,...,324.250000,2.000000,1.000000,27.000000,3.000000,2.000000,2.000000,6.000000,2.000000,1.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,119834.000000,2.000000,2.000000,23763.000000,4.000000,3.000000,5.000000,7.000000,7.000000,3.000000

In [62]:
#Look at age in closer detail
df['age'].describe()

count     4184.000000
mean        30.370698
std        367.201726
min         13.000000
25%         18.000000
50%         21.000000
75%         27.000000
max      23763.000000
Name: age, dtype: float64

In [63]:
#Max age is 23763; return a list of age > 100
df[(df['age'] > 100)]

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,country,fromgoogle,engnat,age,education,gender,orientation,race,religion,hand
2075,3,4,5,4,3,4,5,4,3,3,...,US,2,1,123,1,1,5,7,7,3
2137,1,2,5,4,3,1,5,1,5,3,...,US,2,1,409,2,1,5,6,1,1
2690,2,5,5,1,5,5,5,5,4,2,...,US,2,2,23763,4,1,2,7,7,0

In [64]:
#find the mean age without these 3 outliers
avg_age_list = list(df['age'])
avg_age_list.remove(123)
avg_age_list.remove(409)
avg_age_list.remove(23763)

In [65]:
#Calculate the mean age without the 3 outliers
np.mean(avg_age_list)

24.5816790241569

In [66]:
#try to replace the age with the mean age
df['age'][2075] = np.mean(avg_age_list)
df['age'][2137] = np.mean(avg_age_list)
df['age'][2609] = np.mean(avg_age_list)

<ipython-input-66-bc5448b2314a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'][2075] = np.mean(avg_age_list)
<ipython-input-66-bc5448b2314a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'][2137] = np.mean(avg_age_list)
<ipython-input-66-bc5448b2314a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['age'][2609] = np.mean(avg_age_list)

---
## Step 4: Model the data.

### 5. Suppose I wanted to use Q1 - Q44 to predict whether or not the person is left-handed. Would this be a classification or regression problem? Why?

Answer: 
Classification because we are trying to predict if it's left hand or right hand. It's a categorical variable that we are trying to predict.

### 6. We want to use $k$-nearest neighbors to predict whether or not a person is left-handed based on their responses to Q1 - Q44. Before doing that, however, you remember that it is often a good idea to standardize your variables. In general, why would we standardize our variables? Give an example of when we would standardize our variables.

Answer: 
Standardizing our variables is important when we each variable has different units. 
Variables that are measured at different scales do not contribute equally to the analysis and might end up creating a bias.

For example, if we have variables that measure age and height (in cm), they would defer greatly in ranges.

### 7. Give an example of when we might not standardize our variables.

Answer: 
When variable is not numerical.

### 8. Based on your answers to 6 and 7, do you think we should standardize our predictor variables in this case? Why or why not?

Answer: 
We do not need to standardize as they have all been weighed on the same scale (1 to 5).

### 9. We want to use $k$-nearest neighbors to predict whether or not a person is left-handed. What munging/cleaning do we need to do to our $y$ variable in order to explicitly answer this question? Do it.

Answer:

In [67]:
#Check if there are missing values to 'hand'
df['hand'].isnull().sum()

0

In [68]:
#Check the values
df['hand'].value_counts()

1    3542
2     452
3     179
0      11
Name: hand, dtype: int64

In [69]:
#Hand should only have 1, 2, 3. There shouldn't be 0. 1=Right, 2=Left, 3=Both
#so we would drop these values
df = df[df.hand != 0]

In [70]:
#Check if 0 has been dropped
df['hand'].value_counts()

1    3542
2     452
3     179
Name: hand, dtype: int64

In [71]:
#Since we would like to check on left-handedness, we would change all 3 to 2. Being both, means they are left handed too.
df.loc[(df['hand'] == 3), 'hand'] = 2

In [72]:
df['gender'].value_counts()
#1=Male, 2=Female, 3=Other

2    2207
1    1583
3     304
0      79
Name: gender, dtype: int64

In [73]:
#Gender should not have 0. Change all 0 to 3. 
df.loc[(df['gender'] == 0), 'gender'] = 3

In [74]:
#Check if 0 is changed to 3
df['gender'].value_counts()

2    2207
1    1583
3     383
Name: gender, dtype: int64

### 10. The professor for whom you work suggests that you set $k = 4$. In this specific case, why might this be a bad idea?

Answer: 
k = 4 might be too small. Dataset contains 4000+ responses.
If k is too small, we might face issue of overfitting.

### 11. Let's *(finally)* use $k$-nearest neighbors to predict whether or not a person is left-handed!

> Be sure to create a train/test split with your data!

> Create four separate models, one with $k = 3$, one with $k = 5$, one with $k = 15$, and one with $k = 25$.

> Instantiate and fit your models.

In [75]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler

In [76]:
col_list = list(df.columns)

In [77]:
#features from 0 to 44 - dropped our target 'hand'
target = df['hand']
features = col_list[0:44]

In [78]:
X = df[features]
y = df['hand']

In [81]:
y.value_counts()

1    3542
2     631
Name: hand, dtype: int64

In [83]:
#normalize = True; return the relative frequencies of the unique values
y.value_counts(normalize=True)

1    0.84879
2    0.15121
Name: hand, dtype: float64

In [84]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, stratify = y)

In [85]:
train_accuracies = {}
test_accuracies = {}

neighbors = (3, 5, 15, 25)

for neighbor in neighbors:
    knn = KNeighborsClassifier (n_neighbors = neighbor)
    knn.fit (X_train, y_train)
    train_accuracies [neighbor] = knn.score (X_train, y_train)
    test_accuracies[neighbor] = knn.score (X_test, y_test)
print(neighbors, '\n', train_accuracies, '\n', test_accuracies)

(3, 5, 15, 25)
 {3: 0.8718440396292745, 5: 0.8497922658996484, 15: 0.8497922658996484, 25: 0.8488334931287952}
 {3: 0.7998084291187739, 5: 0.8362068965517241, 15: 0.8496168582375478, 25: 0.8486590038314177}

Being good data scientists, we know that we might not run just one type of model. We might run many different models and see which is best.

### 12. We want to use logistic regression to predict whether or not a person is left-handed. Before we do that, let's check the [documentation for logistic regression in sklearn](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html). Is there default regularization? If so, what is it? If not, how do you know?

Answer: 
Yes, there is default regularization. 
Ridge Regression Regularization is used.

### 13. We want to use logistic regression to predict whether or not a person is left-handed. Before we do that, should we standardize our features?

Answer:

You don't need to standardize unless your regression is regularized.

### 14. Let's use logistic regression to predict whether or not the person is left-handed.


> Be sure to use the same train/test split with your data as with your $k$-NN model above!

> Create four separate models, one with LASSO and $\alpha = 1$, one with LASSO and $\alpha = 10$, one with Ridge and $\alpha = 1$, and one with Ridge and $\alpha = 10$. *(Hint: Be careful with how you specify $\alpha$ in your model!)*

> Instantiate and fit your models.

In [86]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, stratify = y)

In [87]:
from sklearn.linear_model import Lasso
from sklearn.preprocessing import scale 
from sklearn.metrics import mean_squared_error

In [88]:
LogisticRegression(penalty='none')
from sklearn.datasets import make_classification

In [89]:
X, y = make_classification(
    n_samples=1000,
    n_features=200,
    n_informative=15,
    random_state=123
)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=123)

sc = StandardScaler()
X_train_sc = sc.fit_transform(X_train)
X_test_sc = sc.transform(X_test)

In [90]:
logreg = LogisticRegression(C=1, penalty = 'l1', solver='liblinear')
logreg.fit(X_train_sc, y_train)

# Overfit!
print(logreg.score(X_train_sc, y_train))
print(logreg.score(X_test_sc, y_test))

0.9253333333333333
0.696

In [91]:
logreg = LogisticRegression(C=0.1, penalty = 'l1', solver='liblinear')
logreg.fit(X_train_sc, y_train)

# Overfit
print(logreg.score(X_train_sc, y_train))
print(logreg.score(X_test_sc, y_test))

0.872
0.776

In [92]:
logreg = LogisticRegression(C=1, penalty = 'l2', solver='liblinear')
logreg.fit(X_train_sc, y_train)

# Overfit
print(logreg.score(X_train_sc, y_train))
print(logreg.score(X_test_sc, y_test))

0.9306666666666666
0.692

In [93]:
logreg = LogisticRegression(C=0.1, penalty = 'l2', solver='liblinear')
logreg.fit(X_train_sc, y_train)

# Overfit
print(logreg.score(X_train_sc, y_train))
print(logreg.score(X_test_sc, y_test))

0.92
0.712

---
## Step 5: Evaluate the model(s).

### 15. Before calculating any score on your data, take a step back. Think about your $X$ variable and your $Y$ variable. Do you think your $X$ variables will do a good job of predicting your $Y$ variable? Why or why not? What impact do you think this will have on your scores?

Answer:
I do not think that personality traits can influence decision to use left or right hand. Hence, I would not expect X to be able to predict y.

### 16. Using accuracy as your metric, evaluate all eight of your models on both the training and testing sets. Put your scores below. (If you want to be fancy and generate a table in Markdown, there's a [Markdown table generator site linked here](https://www.tablesgenerator.com/markdown_tables#).)
- Note: Your answers here might look a little weird. You didn't do anything wrong; that's to be expected!

| Model              | Accuracy on Training | Accuracy on Testing |
|--------------------|----------------------|---------------------|
| kNN (n=3)          | 0.8651326302333013   | 0.8170498084291188  |
| kNN (n=5)          | 0.8526685842122084   | 0.8496168582375478  |
| kNN (n=15)         | 0.8488334931287952   | 0.8486590038314177  |
| kNN (n=25)         | 0.8488334931287952   | 0.8486590038314177  |
| Lasso (alpha = 1)  | 0.9306666666666666   | 0.692               |
| Lasso (alpha = 10) | 0.92                 | 0.712               |
| Ridge (alpha = 1)  | 0.9253333333333333   | 0.696               |
| Ridge (alpha = 10) | 0.92                 | 0.712               |

### 17. In which of your $k$-NN models is there evidence of overfitting? How do you know?

Answer: n = 15 and 25; because accuracy on Training and Testing returns the same values.

### 18. Broadly speaking, how does the value of $k$ in $k$-NN affect the bias-variance tradeoff? (i.e. As $k$ increases, how are bias and variance affected?)

Answer:As k increases, bias increase and variance decrease.

### 19. If you have a $k$-NN model that has evidence of overfitting, what are three things you might try to do to combat overfitting?

Answer:
1. Reduce k
2. Regularize
3. Drop features

### 20. In which of your logistic regression models is there evidence of overfitting? How do you know?

Answer:
All logistic regression models; they all have similar accuracy with different alpha.

### 21. Broadly speaking, how does the value of $C$ in logistic regression affect the bias-variance tradeoff? (i.e. As $C$ increases, how are bias and variance affected?)

Answer:
C is the inverse of alpha.
Was Alpha increases, bias increases and variance decreases.

### 22. For your logistic regression models, play around with the regularization hyperparameter, $C$. As you vary $C$, what happens to the fit and coefficients in the model? What do you think this means in the context of this specific problem?

Answer:
There is no change to the the accuracy of models when C changes. 
It could be because that the boundary is already optimal. 
In this context, could be because there's no relationship between X and y at all.

### 23. If you have a logistic regression model that has evidence of overfitting, what are three things you might try to do to combat overfitting?

Answer:
1. Reduce C
2. Regularize
3. Remove Features

---
## Step 6: Answer the problem.

### 24. Suppose you want to understand which psychological features are most important in determining left-handedness. Would you rather use $k$-NN or logistic regression? Why?

Answer:
I would use logistic regression. This allows me to explain the behavior easier.

### 25. Select your logistic regression model that utilized LASSO regularization with $\alpha = 1$. Interpret the coefficient for `Q1`.

Answer: For every unit increase in Q1, the respondent is 1.60% more likely than before to be right-handed.

In [44]:
logreg = LogisticRegression(penalty = 'l1', C = (1/10), solver='liblinear')
logreg.fit(X_train, y_train)

LogisticRegression(C=0.1, penalty='l1', solver='liblinear')

In [49]:
coef=logreg.coef_
display(coef.shape)

(1, 200)

### 26. If you have to select one model overall to be your *best* model, which model would you select? Why?
- Usually in the "real world," you'll fit many types of models but ultimately need to pick only one! (For example, a client may not understand what it means to have multiple models, or if you're using an algorithm to make a decision, it's probably pretty challenging to use two or more algorithms simultaneously.) It's not always an easy choice, but you'll have to make it soon enough. Pick a model and defend why you picked this model!

Answer:
I will pick logistic regression model that utilized LASSO regularization with  𝛼=1.
Higher score.

### 27. Circle back to the three specific and conclusively answerable questions you came up with in Q1. Answer one of these for the professor based on the model you selected!

Answer:
Q20: I sometimes feel like crying when I get angry.
For every unit increase in Q20, the respondent is 1.40% more likely than before to be right-handed.

In [142]:
coefficients.loc[19]

0         Q20
0    0.013571
1   -0.014258
2   -0.012966
Name: 19, dtype: object

### BONUS:
Looking for more to do? Probably not - you're busy! But if you want to, consider exploring the following. (They could make for a blog post!)
- Create a visual plot comparing training and test metrics for various values of $k$ and various regularization schemes in logistic regression.
- Rather than just evaluating models based on accuracy, consider using sensitivity, specificity, etc.
- In the context of predicting left-handedness, why are unbalanced classes concerning? If you were to re-do this process given those concerns, what changes might you make?
- Fit and evaluate a generalized linear model other than logistic regression (e.g. Poisson regression).
- Suppose this data were in a `SQL` database named `data` and a table named `inventory`. What `SQL` query would return the count of people who were right-handed, left-handed, both, or missing with their class labels of 1, 2, 3, and 0, respectively? (You can assume you've already logged into the database.)